exec_once:
 execs:
  Rename configuration files:
   name: Rename configuration files
   command: |
     #!/usr/bin/env bash
     if test -f upload/config-dist.php; then 
        mv upload/config-dist.php upload/config.php
     fi

     if test -f upload/admin/config-dist.php; then 
        mv upload/admin/config-dist.php upload/admin/config.php
     fi
post_app_deploy:
 execs:
  Restart apache:
   name: Restart apache
   command: |
     #!/usr/bin/env bash
     chown -RL www-data:www-data <%= @app_root %>
     service apache2 restart
